<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--使用构造函数互相引用 -->
    <!--<bean id="circulationb" class="com.lijinlin.project.learn.interview.circularDependence.CirculationB" >
        <constructor-arg name="circulationA" ref="circulationa"/>
    </bean>
    <bean id="circulationa" class="com.lijinlin.project.learn.interview.circularDependence.CirculationA" >
        <constructor-arg name="circulationB" ref="circulationb"/>
    </bean>-->

    <!-- B的filed依赖A  A构造函数依赖B -->
    <bean id="circulationa" class="com.lijinlin.project.learn.interview.circularDependence.CirculationA">
        <constructor-arg name="circulationB" ref="circulationb"/>
    </bean>
    <bean id="circulationb" class="com.lijinlin.project.learn.interview.circularDependence.CirculationB">
        <property name="circulationA" ref="circulationa"/>
    </bean>

    <!--开启aop注解支持-->
    <!--<aop:aspectj-autoproxy/>-->
    <!--结束aop注解支持-->

</beans>