<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lijinlin.project.dao.SkuDao">
    <select id="getSkuListByParam" parameterType="com.lijinlin.project.pojo.Sku" resultType="com.lijinlin.project.pojo.Sku">
        SELECT
        id,
        sku_name skuName,
        sku_num skuNum
        FROM
        t_sku
        where 1=1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="skuName != null">
            and sku_name = #{skuName}
        </if>
        <if test="skuNum != null">
            and sku_num = #{skuNum}
        </if>
    </select>


</mapper>