<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lijinlin.project.dao.T2Dao">
    <select id="getAll" resultType="com.lijinlin.project.pojo.T2">
        SELECT
        *
        FROM
        t2
        where 1=1
    </select>


</mapper>